* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient( -0.2turn, #00ffffb2, #b0ffffa6,#ffffff);
  margin: 1rem 1rem 0 1rem;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-inline {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.img-thumbnail {
  background: linear-gradient( -0.2turn, #ffffff,#b0ffffa6, #00ffffb2);
  border: none;
  border-radius: 50%;
}

#acesso button{
  padding: .2rem .5rem;
  font-weight: bold;
  background-color: #e0e0e0;
  border-radius: 2rem;
  border: 1px solid rgb(207, 207, 207);
}

#acesso button:hover {
  background:linear-gradient( -0.2turn, #00b8b8b2, #a5ffffa6,#dbdbdb);
}

main {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.card {
  border: 1px solid lightblue;
  min-height: 25rem;
}

.card-img-top:hover {
  transform: scale(1.1);
  transition: transform .8s ease ;
  border-radius: 1rem;
}

a{
  text-decoration: none;
  text-align: justify;
}

aside {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


@media only screen and (max-width: 902px) {
  body {
    background: linear-gradient( -0.2turn, #00ffffb2, #b0ffffa6,#ffffff);
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  #acesso {
    display: flex;
    gap: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}

